/* reset.css */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
body {
    margin: 0;
}
.body {
  width: 100%;
  background-color: #000000;
  text-align: center;
  color: #FFFFFF;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  min-height: 78vh;
  font-family: "Monaco";
  padding-bottom: 30px;
  word-wrap: break-word;
  overflow: hidden;
}
h1 {
  color: #FFFFFF;
  text-transform: uppercase;
  margin-top: 20px;
  margin-left: -100px;
  font-size: 26px;
  font-weight: 100;
}
h2 {
  color: #FFFFFF;
  text-transform: uppercase;
}
h3 {
  color: #FFFFFF;
}
span {
  font-size: normal;
}
.spacer{
  margin-top: 50px;
}
.blinking-cursor {
  font-size: 26px;
  font-weight: bold;
  margin-left: 10px;
  color: #FFFFFF;
  -webkit-animation: 1s blink step-end infinite;
  -moz-animation: 1s blink step-end infinite;
  -ms-animation: 1s blink step-end infinite;
  -o-animation: 1s blink step-end infinite;
  animation: 1s blink step-end infinite;
}
.blinking-cursor2 {
  font-size: 26px;
  font-weight: bold;
  margin-left: -17px;
  color: #FFFFFF;
  -webkit-animation: 1s blink step-end infinite;
  -moz-animation: 1s blink step-end infinite;
  -ms-animation: 1s blink step-end infinite;
  -o-animation: 1s blink step-end infinite;
  animation: 1s blink step-end infinite;
}
span.typed-text {
  margin-left: 115px;
}
@keyframes blink {
  from,
  to {
    color: transparent;
  }
  50% {
    color: #FFFFFF;
  }
}
@-moz-keyframes blink {
  from,
  to {
    color: transparent;
  }
  50% {
    color: #FFFFFF;
  }
}
@-webkit-keyframes blink {
  from,
  to {
    color: transparent;
  }
  50% {
    color: #FFFFFF;
  }
}
@-ms-keyframes blink {
  from,
  to {
    color: transparent;
  }
  50% {
    color: #FFFFFF;
  }
}
@-o-keyframes blink {
  from,
  to {
    color: transparent;
  }
  50% {
    color: #FFFFFF;
  }
}
.bodyG {
  width: 100%;
  background-color: #EFEFEF;
  text-align: center;
  color: #FFFFFF;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  min-height: 78vh;
  font-family: "Monaco";
  word-wrap: break-word;
  overflow: hidden;
}
.bodyG h1 {
  color: #000000;
}
.bodyG h2 {
  color: #000000;
}
.bodyG h3 {
    color: #000000;
    margin-bottom: 20px;
}
.bodyG p {
  color: #000000;
}
.bodyGW {
  width: 100%;
  background-color: #FFFFFF;
  text-align: center;
  color: #FFFFFF;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  min-height: 78vh;
  font-family: "Monaco";
  word-wrap: break-word;
  overflow: hidden;
}
.bodyGW h1 {
  color: #000000;
}
.bodyGW h2 {
  color: #000000;
}
.bodyGW h3 {
    color: #000000;
    margin-bottom: 20px;
}
.bodyGW p {
  color: #000000;
}
.page404 {
    width: 300px;
}
.navbar {
  height: 90px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.navbar-top {
  height: 60px;
  width: 97%;
  padding: 10px;
  background-color: #FFFFFF;
  color: #000000;
  display:flex;
  flex-direction: row;
  justify-content: space-between;
  font-family: "Monaco";
}
.hamburgerMenuIcon {
  margin-top: 5px;
}
.mobileMenu {
  position: relative;
}
.hamburgerMenu {
  position: fixed;
  top: 0;
  z-index: 99;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  left: -120%;
  width: 270px;
  height: 100%;
  background-color: #FFFFFF;
  border-right: 2px solid #000000;
  transition: left 0.3s ease;
  font-size: 14px;
}
.hamburgerMenu a {
  width: 100%;
  display: block;
  padding-top: 2px;
  padding-bottom: 2px;
  color: #000000;
  text-decoration: none;
}
.mobileMenuTop {
  height: calc(100% - 200px);
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  background-color: #FFFFFF;
}
.mobileMenuBottom {
  height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}
.mobileMenuCloseButton {
  cursor: pointer;
  color: #000000;
  background-color: #FFFFFF;
  border: none;
  padding: 5px;
  transition: all 0.5s ease-in-out;
  border: 5px solid #FFCB4C;
  border-radius: 50%;
  font-size: large;
  font-family: "Monaco";
  box-shadow: 0px 15px 10px -15px #C8C8C8;
  height: 30px;
  width: 30px;
  margin-top: 5px;
  margin-left: 270px;
  position: absolute;
  z-index: 100;
}
.mobileMenuAvatar {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.mobileMenuUserIcon {
  width: 140px;
  display: flex;
  justify-content: center;
  margin-top: 20px;
  border-radius: 50%;
}
.mobileMenuChatButton {
  background-color: #FFCB4C;
  color: #000000;
  border: none;
  padding: 10px;
  margin: 15px;
  border: 2px solid #FFCB4C;
  border-radius: 1rem;
  font-size: 16px;
  font-family: "Monaco";
  height: 60px;
  width: 180px;
}
.mobileMenuButtons {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.mobileMenuButtonLogin {
  background-color: #FFFFFF;
  color: #000000;
  border: none;
  padding: 15px;
  margin: 10px;
  margin-top: 10px;
  margin-bottom: 30px;
  transition: all 0.3s ease-in-out;
  border: 3px solid #FFCB4C;
  border-radius: 1rem;
  font-family: "Monaco";
  text-transform: uppercase;
  width: 150px;
  box-shadow: 0px 15px 10px -15px #C8C8C8;
}
.mobileMenuButtonSignUp {
  background-color: #FFCB4C;
  color: #000000;
  border: none;
  padding: 15px;
  margin: 10px;
  margin-top: 30px;
  margin-bottom: 10px;
  transition: all 0.3s ease-in-out;
  border: 3px solid #FFCB4C;
  border-radius: 1rem;
  font-family: "Monaco";
  text-transform: uppercase;
  width: 150px;
  box-shadow: 0px 15px 10px -15px #C8C8C8;
}
.mobileMenuList {
  width: 100%;
  overflow-y: scroll;
}
.mobileMenuIcon {
  width: 100%;
  display: flex;
  align-items: center;
  border-bottom: 2px solid #000000;
}
.mobileMenuIconTop {
  width: 100%;
  display: flex;
  align-items: center;
  border-top: 2px solid #000000;
  border-bottom: 2px solid #000000;
}
.mobileMenuIconTop img {
  width: 25px;
}
.mobileMenuIconBottom {
  width: 100%;
  display: flex;
  align-items: center;
  border-bottom: 2px solid #000000;
}
.mobileMenuIconBottom img {
  width: 25px;
}
.mobileMenuIcon {
  width: 100%;
  display: flex;
  align-items: center;
  border-bottom: 2px solid #000000;
}
.mobileMenuIcon img {
  width: 25px;
}
.mobileMenuBrandHolderBottom {
  width: 100%;
  display: flex;
  // float: inline-end;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding-top: 15px;
  padding-bottom: 30px;
  background-color: #FFFFFF;
}
.mobileMenuBrandHolderBottom img {
  margin: 0px;
}
.mobileMenuBrandHolderBottomBrandText {
  margin-left: 15px;
}
.mobileMenuBrandHolderBottomBrandText h2 {
  color: #000000;
}
.navbarbar {
  height: 1px;
  width: 97%;
  margin: 0px;
  display: flex;
  background-color: #000000;
}
.brandHolderTop {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: -20px;
  margin-left: -25px;
}
.brandHolderTop img {
    width: 40px;
}
.brandHolderTop p{
    margin-top: -23px;
    font-size: 14px;
}
.brandHolderTop a {
  text-decoration: none;
  color: #000000;
}
.brandHolderBottom {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: -20px;
    margin-left: 0px;
}
.brandHolderBottom img {
    width: 40px;
}
.brandHolderBottom p{
    margin-top: -23px;
    font-size: 14px;
}
.brandHolderBottom a {
    text-decoration: none;
    color: #000000;
}
.logo {
  margin: 20px;
}
.homesvg {
  margin: 10px;
  height: 32px;
  width: 32px;
}
.downsvg {
  display: none;
}
.downsvg:hover {
  transform: scale(1.2);
}
.dropdown-menu {
  display: none;
}
.dropdown-menu:link {
  color:#000000;
  text-decoration: none;
}
.dropdown-button-top {
  height: 50px;
  width: 200px;
  background-color: #FFFFFF;
  color: #000000;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  display: flex;
  align-items: center;
  border: none;
  padding-left: 10px;
  font-family: "Monaco";
  text-transform: uppercase;
}
.dropdown-button {
  height: 50px;
  width: 200px;
  background-color: #FFFFFF;
  color: #000000;
  display: flex;
  align-items: center;
  border: none;
  padding-left: 10px;
  font-family: "Monaco";
  text-transform: uppercase;
}
.dropdown-links a:link {
  color:#000000;
  text-decoration: none;
}
.dropdown-button:hover {
  background-color: #FFCB4C;
  cursor: pointer;
}
.dropdown-button-top:hover {
  background-color: #FFCB4C;
  cursor: pointer;
}
.dropdown-bar {
  height: 1px;
  width: 200px;
  margin: 0px;
  display: flex;
  background-color: lightgray;
}
.dropdown-bottom {
  background-color: lightgray;
  height: 27px;
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
  width: 200px;
}
.menu-items {
  display: none;
  margin: 10px;
  align-items: center;
  flex-grow: 4;
}
.menu-icon {
  width: 50px;
  display: none;
  flex-direction: column;
  align-items: center;
  margin-left: 10px;
  margin-right: 20px;
  padding: 10px;
}
.menu-icon p {
  margin: 0px;
  font-size: 0.8em;
  text-align: center;
  cursor: pointer;
}
.menu-icon img {
  margin: 0px;
}
.menu-icon:hover {
  background-color: #FFCB4C;
  border-radius: 10px;
}
.account-items {
  display: flex;
  flex-direction: row-reverse;
  margin: 10px;
  align-items: center;
}
.user-icon {
  display: none;
}
.user-icon:hover {
  cursor: pointer;
}
.biglogo {
  margin-top: 10px;
  width: 110px;
}
.mainContainer {
  width: 98%;
  height: 87vh;
  margin: 2px;
  background-color: #EFEFEF;
  text-align: left;
  display: flex;
  border-radius: 15px;
  flex-direction: row;
  justify-content: top;
  align-items: left;
  font-size: 14px;
  overflow-x: hidden;
}
.onboardingContainer {
  width: 97%;
  height: 87vh;
  margin: 5px;
  background-color: #EFEFEF;
  text-align: left;
  display: flex;
  border-radius: 15px;
  flex-direction: row;
  justify-content: top;
  align-items: left;
  font-size: 14px;
  overflow-x: hidden;
}
.chatHistoryContainer {
  display: none;
}
.mainChatContainer {
  width: 95%;
  background-color: #FFFFFF;
  text-align: left;
  display: flex;
  border: 3px solid #FFFFFF;
  border-radius: 15px;
  margin: 5px;
  padding: 5px;
  flex-direction: column;
  flex-grow: 4;
  justify-content: top;
  align-items: left;
  overflow-x: hidden;
}
.chatContainer {
  display: flex;
  flex-direction: column-reverse;
  flex-grow: 4;
  overflow: scroll;
  overflow-x: hidden;
}
.pandaChat {
  background-color: #FFFFFF;
  text-align: left;
  display: flex;
  padding-right: 0px;
  flex-direction: row;
  justify-content: left;
  align-items: left;
}
.userChat {
  background-color: #FFFFFF;
  text-align: left;
  display: flex;
  padding-left: 0px;
  flex-direction: row-reverse;
  justify-content: right;
  align-items: right;
}
.user.userChat {
  background-color: #FFFFFF;
  text-align: left;
  display: flex;
  margin: 5px;
  flex-direction: row-reverse;
  justify-content: right;
  align-items: center;
}
.chatAvatar {
  width: 50px;
  height: 50px;
  margin: 5px;
  margin-bottom: 12px;
  border-radius: 10px;
}
.userInputContainer {
  height: 80px;
  background: #FFFFFF;
  color: #000000;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.userInput {
  display: flex;
  flex-grow: 4;
  margin: 0px;
  padding: 0px;
}
.input {
  flex-grow: 4;
  border: 3px solid #EFEFEF;
  border-radius: 15px;
  background: #FFFFFF;
  color: #000000;
  padding: 5px;
  font-family: "Monaco"; /*"Helvetica Neue", "Arial", sans-serif;*/
  font-size: 14px;
  overflow: wrap;
  resize: none;
}
.input:disabled {
  cursor: not-allowed;
  background-color: #C8C8C8;
}
.input:focus {
  outline: none;
}
.input::placeholder {
  color: #C8C8C8;
}
.chatMessage {
  display: flex;
  align-items: center;
  border-bottom: 1px solid #EFEFEF;
}
.message {
  display: flex;
  flex-direction: column;
  align-items: left;
  margin: 5px;
  padding-top: 5px;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 10px;
  width:fit-content;
  word-wrap: break-word;
  max-width: 750px;
  border-radius: 15px;
  color: #000000;
}
.message ol li {
  margin-bottom: 5px;
}
.message a {
  color: #000000;
  text-decoration: none;
  text-align: center;
}
.message a:hover {
  color: #FFCB4C;
  text-decoration: none;
}
.seeMoreButton{ 
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
}
.seeMore {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  color: #000000;
  background-color: #FFCB4C;
  border: none;
  padding: 5px;
  margin: 10px;
  margin-top: 20px;
  margin-bottom: -5px;
  transition: all 0.5s ease-in-out;
  border: 5px solid #FFCB4C;
  border-radius: 1rem;
  font-size: 14px;
  font-family: "Monaco";
  width: 180px;
  box-shadow: 0px 15px 10px -15px #C8C8C8;
}
.seeMore:Hover {
  border: 5px solid #FFCB4C;
  background-color: #FFFFFF;
}
.newsAnswer {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0px;
  background-color: #EFEFEF;
  padding: 10px;
  border-radius: 20px;
  box-shadow: 0px 15px 10px -15px #C8C8C8;
}
.newsAnswer ol {
    margin-left: 25px;
}
.newsTitle {
  margin-bottom: 10px;
}
.wikiAnswer {
  width: 68vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0px;
  background-color: #EFEFEF;
  padding: 10px;
  border-radius: 20px;
  box-shadow: 0px 15px 10px -15px #C8C8C8;
}
.wikiAnswerImage {
  max-height: 200px;
  max-width: 300px;
  border: 5px solid #FFFFFF;
}
.wikiAnswerImage:hover {
  border: 5px solid #FFCB4C;
}
.wikiAnswerTitle {
  text-align: center;
  margin-bottom: 10px;
}
.wikiAnswerSummary {
  margin: 0px;
  word-wrap: break-word;
}
.wikiAnswerSummary p {
  margin: 0px;
  word-wrap: break-word;
}
.youTubeAnswer {
  width: 68vw;
  display: flex;
  flex-direction: column;
  color: #FFFFFF;
  align-items: center;
  margin: 0px;
  background-color: #EFEFEF;
  padding: 5px;
  border-radius: 20px;
  box-shadow: 0px 15px 10px -15px #C8C8C8;
}
.youTubeAnswer h2 {
  margin-bottom: 10px;
  }
.youTubeAnswer h2:hover {
  color: #FFCB4C;
}
.youTubeAnswer iframe {
  height: 32vw;
  width: 95%;
  border: 5px solid #FFFFFF;
  margin-bottom: 5px;
}
.googleMapsAnswer {
  width: 68vw;
  display: flex;
  flex-direction: column;
  color: #FFFFFF;
  align-items: center;
  margin: 0px;
  background-color: #EFEFEF;
  padding: 10px;
  border-radius: 20px;
  box-shadow: 0px 15px 10px -15px #C8C8C8;
}
.googleMapsAnswer h2 {
    margin-bottom: 10px;
  }
.googleMapsAnswer h2:hover {
  color: #FFCB4C;
}
.googleMapsAnswerMap {
  width: 66vw;
  border: 5px solid #FFFFFF;
}
.googleMapsAnswerMap iframe {
  width: 66vw;
}
.googleImageAnswer {
  width: 68vw;
  display: flex;
  flex-direction: column;
  background-color: #EFEFEF;
  padding: 10px;
  border-radius: 20px;
  box-shadow: 0px 15px 10px -15px #C8C8C8;
}
.googleImageAnswerHeading h2 {
    margin-bottom: 10px;
  }
.googleImageAnswerHeading h2:hover {
  cursor: pointer;
  color: #FFCB4C;
}
.googleImageAnswerImages {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-auto-rows: auto;
  grid-gap: 5px;
  align-items: stretch;
  justify-items: stretch;
  padding: 5px;
  background-color: #FFFFFF;
}
.googleImageAnswerImages img {
  height: 100%;
  max-width: 100%;
  object-fit: cover;
}
.googleImageAnswerImages img:hover {
  opacity: 50%;
}
.googleSearchAnswer {
  width: 70vw;
  display: flex;
  flex-direction: column;
  color: #FFFFFF;
  align-items: center;
  margin: 0px;
  background-color: #EFEFEF;
  padding: 5px;
  border-radius: 20px;
  box-shadow: 0px 15px 10px -15px #C8C8C8;
}
.googleSearchResultsHeading h2 {
  margin-top: 0px;
  margin-bottom: 10px;
}
.googleSearchResultsHeading h2:hover {
  cursor: pointer;
  color: #FFCB4C;
}
.googleSearchItem {
  width: 66vw;
  background-color: #FFFFFF;
  padding: 5px;
  margin-bottom: 10px;
  border-radius: 10px;
}
.googleSearchItemTitle h2 {
  margin: 5px;
  font-size: 18px;
  text-align: left;
}
.googleSearchItemTitle h2:hover {
  cursor: pointer;
  color: #FFCB4C;
}
.googleSearchItemContent {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 10px;
}
.googleSearchItemContent img {
  max-height: 125px;
  width: 180px;
  margin-left: 5px;
  object-fit: cover;
}
.googleSearchItemContent p {
  overflow: hidden;
  margin-left: 15px;
  word-wrap: break-word;
}
.googleSearchItemContent text{
  color: #FFCB4C
}
.spotifyMusicAnswer {
  width: 67vw;
  display: flex;
  flex-direction: column;
  color: #FFFFFF;
  align-items: center;
  margin: 0px;
  background-color: #EFEFEF;
  padding: 10px;
  border-radius: 20px;
  box-shadow: 0px 15px 10px -15px #C8C8C8;
}
.tmdbAnswer {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0px;
  background-color: #EFEFEF;
  padding: 30px;
  border-radius: 20px;
  box-shadow: 0px 15px 10px -15px #C8C8C8;
}
.tmdbAnswerHeading {
  width: 100%;
}
.tmdbAnswerHeading h2 {
  width: 100%;
  text-align: center;
  margin-bottom: 10px;
}
.tmdbAnswerHeading h2:hover {
  cursor: pointer;
  color: #FFCB4C;
}
.tmdbAnswerContent {
  display: flex;
  flex-direction: column;
}
.tmdbAnswerContentImage {
  display: flex;
  justify-content: center;
  align-items: center;
}
.tmdbAnswerContentImage img {
  max-width: 100px;
  margin-bottom: 10px;
}
.tmdbAnswerContentImage img:hover {
  cursor: pointer;
  opacity: 50%;
}
.tmdbAnswerContentDetails {
  display: flex;
  align-items: center;
}
.tmdbAnswerContentOverviewInfo {
  display: none;
}
.messageRating {
  display: flex;
  flex-grow: 5;
  justify-content: flex-end;
  align-items: center;
  margin-bottom: 7px;
}
.messageRating img {
  height: 20px;
  margin-right: 8px;
  padding: 6px;
}
.messageRating img:hover {
  cursor: pointer;
  border-radius: 50%;
}
.thumbUp:hover {
  background-color: green;
  opacity: 70%;
}
.thumbDown:hover {
  background-color: red;
  opacity: 70%;
}
.user {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: baseline;
  padding: 0.1rem;
}
.chatButton {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  color: #000000;
  background-color: #FFCB4C;
  border: none;
  padding: 0.5rem;
  margin: 0.5rem;
  margin-right: 0px;
  transition: all 0.5s ease-in-out;
  border: 5px solid #FFCB4C;
  border-radius: 1rem;
  font-size: 14px;
  font-family: "Monaco";
  width: 70px;
  box-shadow: 0px 15px 10px -15px #C8C8C8;
}
.accountChatButton {
  display: none;
}
.chatButton:disabled {
  cursor: not-allowed;
  opacity: 0.5;
}
.chatButton:Hover {
  border: 5px solid #FFCB4C;
  background-color: #FFFFFF;
}
#undoButton {
    display: none;
}
.userPageButton {
  width: 200px;
  height: 70px;
  box-shadow: 0px 15px 10px -15px #C8C8C8;
}
.startNewChat {
  cursor: pointer;
  background-color: #FFCB4C;
  border: none;
  padding: 15px;
  margin-top: 15px;
  margin-bottom: 15px;
  transition: all 0.3s ease-in-out;
  border: 5px solid #FFCB4C;
  border-radius: 1rem;
  color: #000000;
  font-size: large;
  font-family: "Monaco";
  width: 80%;
  box-shadow: 0px 15px 10px -15px #C8C8C8;
}
.startNewChat:Hover {
  border: 5px solid #FFCB4C;
  background-color: #FFFFFF;
}
.startNewChatSmall {
  display: flex;
  cursor: pointer;
  background-color: #FFCB4C;
  border: none;
  padding: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
  justify-content: center;
  transition: all 0.3s ease-in-out;
  border: 5px solid #FFCB4C;
  border-radius: 1rem;
  color: #000000;
  font-size: large;
  font-family: "Monaco";
  width: 150px;
  box-shadow: 0px 15px 10px -15px #C8C8C8;
  font-size: 12px;
}
.startNewChatSmall:Hover {
  border: 5px solid #FFCB4C;
  background-color: #FFFFFF;
}
.letsChat {
  cursor: pointer;
  background-color: #FFCB4C;
  color: #000000;
  border: none;
  padding: 10px;
  margin: 10px;
  margin-top: 50px;
  margin-bottom: 15px;
  transition: all 0.3s ease-in-out;
  border: 2px solid #FFCB4C;
  border-radius: 1rem;
  font-size: 16px;
  font-family: "Monaco";
  height: 60px;
  width: 180px;
}
.startNewChat:disabled {
  cursor: not-allowed;
  opacity: 0.8;
}
.authButton-login {
  display: none;
}
.authButton-login:hover {
  background-color: #FFCB4C;
  color: #000000;
  border: 3px solid #FFCB4C;
}
.authButton-signup {
  display: none;
}
.authButton-signup:hover {
  color: #000000;
  border: 3px solid #FFCB4C;
  transform: scale(1.1);
}
.navFooter {
  height: 280px;
  background-color: #FFFFFF;
  color: #000000;
  display:flex;
  flex-direction: column;
  align-items: center;
  font-family: "Monaco";
}
.footerbar {
  height: 1px;
  width: 97%;
  margin: 0px;
  margin-top: 20px;
  margin-bottom: 20px;
  display: flex;
  background-color: #000000;
}
.footerContainer {
  width: 97%;
  display: flex;
  flex-direction: row;
}
.brandSocialsHolder {
  display: flex;
  width: 100%;
  align-items: center;
  flex-direction: column;
  flex-grow: 3;
  margin-left: 0px;
}
.footerBranding {
  display: flex;
  flex-direction:row;
}
.brandText h2 {
  margin: 0;
  margin-top: -5px;
  font-size: 20px;
  text-transform: lowercase;
  color: #000000;
}
.brandText p {
  margin: 0;
  margin-top: 0px;
  font-size: 16px;
  text-transform: lowercase;
  color: #000000;
}
.brandSocialsHolder h3 {
  margin-top: 15px;
  margin-left: 0px;
  font-size: 16px;
  color: #000000;
}
.socialsHolder {
  display: flex;
  margin-left: 30px;
  flex-direction: row;
  padding: 20px;
}
.socialsHolder img {
  width: 30px;
  margin-left: 5px;
  margin-right: 30px;
  cursor: pointer;
}
.footerMenus {
  display: none;
}
.singleMenu {
  width: 150px;
  display: flex;
  flex-direction: column;
  justify-content: start;
  text-align: start;
}
.singleMenu h2 {
  color: #000000;
  margin-bottom: 15px;
  font-size: 20px;
}
.singleMenu p {
  font-size: 15px;
  margin-top: 0px;
  margin-left: 2px;
  margin-bottom: 8px;
}
.singleMenu p:hover {
  text-decoration: underline;
  cursor: pointer;
}
.signInContainer {
  width: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 30px;
  margin-bottom: 30px;
  padding: 10px;
  border-radius: 20px;
  background-color: #000000;
  box-shadow: 0px 15px 10px -15px #C8C8C8;
}
.emailSentContainer {
  height: 550px;
  width: 500px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 50px;
  margin-bottom: 50px;
  padding: 10px;
  border-radius: 20px;
  background-color: #000000;
  box-shadow: 0px 15px 10px -15px #C8C8C8;
}
.emailSentContainer h2{
  color: #FFFFFF;
}
#emailGood {
  width: 25px;
  margin-top: 6px;
  margin-left: 140px;
  position: absolute;
}
#emailBad {
  width: 25px;
  margin-top: 6px;
  margin-left: 140px;
  position: absolute;
}
#passwordGood {
  width: 25px;
  margin-top: 6px;
  margin-left: 140px;
  position: absolute;
}
#passwordBad {
  width: 25px;
  margin-top: 6px;
  margin-left: 140px;
  position: absolute;
}
.emailSentContainer h2 {
  margin-top: 0px;
  font-size: 28px;
}
.emailSentContainer h3 {
  color: #FFCB4C;
  margin-top: 20px;
  margin-bottom: 40px;
}
.emailSentContainer h3:hover {
  color: #FFFFFF;
  cursor: pointer;
}
.emailSentContainer img {
  margin-bottom: 20px;
}
.emailSentContainer p {
  width: 80%;
  color:#FFFFFF;
}
#emailSentPanda {
  width: 90px;
}
#emailSentEnvelope {
  width: 60px;
}
.emailVerifiedContainer {
  height: 300px;
  width: 500px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 50px;
  margin-bottom: 50px;
  padding: 10px;
  border-radius: 20px;
  background-color: #000000;
  box-shadow: 0px 15px 10px -15px #C8C8C8;
}
.emailVerifiedContainer h2 {
  color: #FFFFFF;
  margin-top: 30px;
  margin-bottom: 30px;
  font-size: 28px;
}
.signInContainerTitle {
  height: 100px;
  display: flex;
  flex-direction: column;
  padding-top: 15px;
  justify-content: center;
  align-items: center;
  color: #FFFFFF;
}
.signInContainerTitle img {
  display: none;
}
.signInContainerTitle h2 {
  margin: 0px;
  margin-bottom: 0px;
  text-align: center;
  font-size: 28px;
  color: #FFFFFF;
}
.signInContainerTitle h3 {
  margin: 0px;
  margin-top: 10px;
  text-align: center;
  font-size: 18px;
  color: #FFFFFF;
}
.signInContainerTitle p {
  margin: 0px;
  margin-bottom: 20px;
  text-align: center;
  font-size: 18px;
  color: #FFCB4C;
}
.signInContainerTitle p:hover {
  cursor: pointer;
}
.signInBar {
  height: 1px;
  width: 95%;
  margin-top: 10px;
  background-color: #FFFFFF;
}
.signInButton {
  margin-left: 12px;
  color: #000000;
}
.thirdPartySignIn {
  width: 100%;
  margin: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.thirdPartyButton {
  height: 35px;
  width: 65%;
  margin: 10px;
  display: flex;
  justify-content: left;
  align-items: center;
  background-color: #FFFFFF;
  color: #000000;
  border-radius: 10px;
  text-transform: uppercase;
  box-shadow: 0px 15px 10px -15px #C8C8C8;
  font-size: 10px;
}
.thirdPartyButton:hover {
  cursor: pointer;
  background-color: #FFCB4C;
}
.thirdPartyButton img {
  margin-left: 10px;
  margin-right: 12px;
  width: 20px;
}
.signInOption {
  height: 50px;
  width: 70px;
  background-color: #000000;
  margin: 0px;
  padding: 0px;
  margin-top: -15px;
}
.signInOption p {
  margin: 0px;
  padding: 0px;
  background-color: #000000;
  color: #FFFFFF;
  font-size: 20px;
}
.emailPassword {
  margin-top: 10px;
  margin-bottom: 20px;
  margin-left: -15px;
  width: 75%;
}
.emailPassword h2 {
  color: #FFFFFF;
  text-align: left;
  font-size: 16px;
}
.emailPassword h3 {
  margin-top: 20px;
  margin-bottom: 33px;
  margin-left: 15px;
  text-align: center;
  font-size: 20px;
  color: #FFFFFF;
}
.emailPassword h3:hover {
  color: #FFCB4C;
  cursor: pointer;
}
.emailPassword h4 {
  margin-top: 5px;
  margin-bottom: 0px;
  margin-left: 15px;
  text-align: center;
  font-size: 16px;
  color: #FFFFFF;
}
.emailPassword h5 {
  margin-top: 5px;
  margin-bottom: 0px;
  margin-left: 15px;
  text-align: center;
  font-size: 16px;
  color: #FFCB4C;
}
.emailPassword h5:hover {
  cursor: pointer;
}
.emailPassword h6 {
  height: 10px;
  margin-top: -10px;
  margin-left: 0px;
  margin-bottom: 0px;
  text-align: center;
  font-size: 12px;
  text-transform: uppercase;
  color: red;
}
.emailPassword input {
  height: 30px;
  width: 80%;
  padding-top: 2px;
  padding-bottom: 2px;
  padding-left: 10px;
  padding-right: 50px;
  margin-bottom: 15px;
  border: 2px solid #FFFFFF;
  border-radius: 10px;
  font-family: "Monaco";
  font-size: 16px;
}
.emailPassword input:focus {
  outline: none;
}
.emailPassword button {
  height: 50px;
  width: 97%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
  margin-left: 15px;
  background-color: #FFCB4C;
  margin-bottom: 10px;
  font-family: "Monaco";
  font-size: 18px;
  border: 5px solid #FFCB4C;
  border-radius: 10px;
  box-shadow: 0px 15px 10px -15px #C8C8C8;
}
.emailPassword button:hover {
  background-color: #FFFFFF;
  cursor: pointer;
}
.aboutContainer {
  min-width: 300px;
  width: 90%;
  margin-top: 20px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: left;
}
.aboutContainer h2 {
  margin: 0;
  margin-bottom: 5px;
  text-align: left;
  font-size: 22px;
}
.aboutContainer h3 {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  text-transform: uppercase;
  font-size: 24px;
}
.aboutContainer p {
  margin-bottom: 30px;
}
.aboutContainer ol {
  text-transform: uppercase;
  font-size: 20px;
  margin-bottom: 0px;
  margin-left: 50px;
}
.aboutContainer ol p {
  margin-top: 5px;
  text-transform: none;
  font-size: 15px;
  margin-bottom: 20px;
}
.aboutContainerLine {
  height: 1px;
  width: 100%;
  margin: 0px;
  margin-top: 15px;
  margin-bottom: 40px;
  display: flex;
  background-color: #FFFFFF;
}
.aboutContainer a {
  color:#FFFFFF
}
.aboutBox {
  min-width: 300px;
  margin-top: -10px;
  margin-left: 0px;
  margin-right: 0px;
  margin-bottom: 20px;
  padding-top: 15px;
  padding-left: 5px;
  padding-right: 5px;
  border: 2px #FFFFFF;
  border-radius: 10px;
}
.aboutBox ol {
  margin-top: -25px;
  margin-left: 30px;
  font-size: 15px;
}
.privacyPolicyContainer {
  min-width: 300px;
  margin-top: 50px;
  padding: 20px;
  margin-bottom: 70px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  text-align: left;
}
.privacyPolicyContainer h2 {
  width: 100%;
  text-align: center;
  font-size: 30px;
}
.privacyPolicyContainer h3 {
  width: 100%;
  text-align: left;
  text-transform: uppercase;
  font-size: 22px;
  color: #FFCB4C;
}
.privacyPolicyContainer a {
  color: #FFFFFF;
}
.privacyPolicyContainer ol li {
    list-style: none;
}
.privacyPolicyContainer ol li h3 {
    color: #FFCB4C;
    list-style: none;
}
.faqContainer {
  max-width: 700px;
  padding: 10px;
  margin: 10px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  text-align: left;
}
.faqContainer h1 {
  margin: 0px;
  text-align: center;
  font-size: 30px;
}
.faqContainer input {
  height: 40px;
  width: 70%;
  margin-top: 20px;
  margin-bottom: 30px;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 5px;
  border: 2px #000000;
  font-family: 'Monaco';
  font-size: 14px;
  outline: none;
}
.faqTitle {
  width: 100%;
}
.faqTitle h2 {
  font-size: 24px;
  margin-top: 30px;
  margin-bottom: 10px;
}
.faqContent {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.faqQuestion {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-top: 0px;
  margin-bottom: 15px;
  background-color: #FFFFFF;
  color: #000000;
  border: none;
  border-radius: 8px;
  padding: 20px;
  text-align: left;
  text-transform: uppercase;
  font-size: 18px;
  font-family: 'Monaco';
}
.faqQuestion img {
  margin-top: 4px;
}
.faqQuestion:hover {
  cursor: pointer;
  background-color: #FFCB4C;
}
.faqAnswer {
  padding: 10px;
  margin-top: -20px;
}
.contactContainer {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}
.contactContainer h2 {
    font-size: 20px;
    margin-bottom: 20px;
}
.contactContainer p {
    margin-bottom: 20px;
    padding-left: 10px;
    padding-right: 10px;
}
.contactForm {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.contactFormItemContainer {
    max-width: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
.contactFormItem {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.contactFormItem h2 {
  margin-right: 20px;
}
.contactFormItem input {
  height: 40px;
  width: 200px;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 5px;
  border: 2px #000000;
  font-family: 'Monaco';
  font-size: 18px;
  outline: none;
}
.contactFormItemLong {
  margin-bottom: 20px;
}
.contactFormItemLong h2 {
    margin-top: 20px;
  }
.messageInput {
  margin-bottom: 20px;
  height: 300px;
  width: 300px;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 5px;
  border: 2px #000000;
  font-family: 'Monaco';
  font-size: 18px;
  outline: none;
}
.chatButtonDisabled {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  color: #000000;
  background-color: #FFCB4C;
  border: none;
  padding: 0.5rem;
  margin: 0.5rem;
  margin-right: 0px;
  transition: all 0.5s ease-in-out;
  border: 5px solid #FFCB4C;
  border-radius: 1rem;
  font-size: large;
  font-family: "Monaco";
  width: 100px;
  box-shadow: 0px 15px 10px -15px #C8C8C8;
  cursor: not-allowed;
  opacity: 0.5;
}
.dropzone {
  height: fit-content;
  height: 150px;
  width: 98%;
  border-radius: 8px;
  background-color: #FFFFFF;
  border: 2px dashed #000000;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  margin-bottom: 50px;
}
.imageInput[type="file"] {
  position: absolute;
  opacity: 0;
  width: inherit;
  min-height: 200px;
  max-height: 400px;
  cursor: pointer;
}
.dropImage {
  height: 100px;
  border-radius: 50px;
  margin-right: 20px;
}
.cancelButton {
  margin-top: -60px;
  margin-left: 90px;
  height: 25px;
  position: absolute;
  z-index: 100;
  cursor: pointer;
}
.saveButton {
  cursor: pointer;
  color: #000000;
  background-color: #ffcb4c;
  border: none;
  padding: 0.5rem;
  margin: 0.5rem;
  margin-right: 0px;
  transition: all 0.5s ease-in-out;
  border: 5px solid #ffcb4c;
  border-radius: 1rem;
  font-size: large;
  font-family: "Monaco";
  width: 100px;
  z-index: 100;
}
.accountWrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
}
.mobileAccountWrapper {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  overflow-x: hidden;
}
.mobileAccountBar {
  position: relative;
  height: 100%;
  width: 60px;
  left: 0px;
  margin-top: -1px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding-top: 40px;
  background-color: #FFFFFF;
  border-right: 1px solid #EFEFEF;
  z-index: 2;
}
.mobileAccountBar img {
  width: 35px;
  margin-bottom: 50px;
}
.mobileAccountChatButton {
  transform: scaleX(-1);
  padding: 5px;
  border-radius: 15%;
  background-color: #FFCB4C;
}
.userBanner {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 0px;
  margin-left: 0px;
}
.userBanner img {
  width: 100%;
  object-fit: cover;
  max-height: 100px;
}
.bannerCamera {
  height: 100%;
  margin-top: 0px;
  margin-left: 0px;
  opacity: 0;
  position: absolute;
  transition: 0.5s ease;
}
.bannerCamera:hover {
  transition-delay: 0.3s;
  opacity: 1;
  cursor: pointer;
}
.accountAvatarBackground {
  display: flex;
  height: 75px;
  width: 75px;
  border-radius: 20px;
  background-color: #FFFFFF;
  border: 4px solid #FFFFFF;
  align-items: start;
  position: relative;
  margin-top: -35px;
  margin-left: 10px;
}
.accountAvatar {
  display: flex;
  height: 75px;
  width: 75px;
  border-radius: 20px;
  background-color: #FFFFFF;
  border: 4px solid #FFFFFF;
  align-items: start;
  position: relative;
  margin-top: -83px;
  margin-left: 10px;
}
.avatarCamera {
  display: flex;
  width: 76px;
  opacity: 0;
  border: none;
  border-radius: 13px;
  align-items: start;
  position: absolute;
  margin-top: -80px;
  margin-left: 14px;
  transition: 0.5s ease;
  z-index: 2;
}
.avatarCamera:hover {
  transition-delay: 0.3s;
  opacity: 1;
  cursor: pointer;
}
.profilePanel {
  display: flex;
  flex-direction: row;
  margin-top: -48px;
  margin-left: 0px;
  background-color: #FFFFFF;
  box-shadow: 0px 15px 10px -15px #C8C8C8;
}
.userDetails {
  display: flex;
  flex-direction: column;
  align-items: start;
  padding-top: 80px;
  padding-left: 0px;
  border-bottom-left-radius: 15px;
}
.userDetails h2 {
  margin-top: -25px;
  margin-left: 20px;
  color: #000000;
  text-transform: capitalize;
  font-size: 24px;
  text-align: left;
}
.userDetails h3 {
  margin-top: 0px;
  margin-left: 20px;
  padding-left: 2px;
  padding-bottom: 5px;
  color: #000000;
  font-size: 20px;
}
.userDetails p {
  margin-top: -10px;
  margin-left: 20px;
  padding-left: 2px;
  padding-bottom: 15px;
  font-size: 15px;
  text-align: left;
}
.userDetails .chatButton {
  width: 170px;
  margin-left: -5px;
  margin-bottom: 30px;
  box-shadow: 0px 15px 10px -15px #C8C8C8;
}
.aboutDetails {
  display: none;
}
.aboutDetails h2 {
  color: #000000;
}
.editUserDetails {
  width: 50px;
  display: flex;
  flex-grow: 2;
  justify-content: end;
  align-items: start;
  padding-top: 40px;
  padding-right: 15px;
  border-bottom-right-radius: 15px;
}
.profileEdit {
  width: 30px;
  opacity: 0.5;
}
.profileEdit:hover {
  opacity: 1;
  cursor: pointer;
}
.accountDetailsWrapper {
  margin: 0px;
  margin-left: 0px;
  width: 100%;
  background-color: #FFFFFF;
}
.accountDetailsMenu {
  display: none;
}
.chatUserChatHistory{
  height: 880px;
  display: flex;
}
.chatUserChatHistoryDates {
  min-width: 375px;
  max-width: 375px;
  padding-left: 5px;
  text-align: left;
  white-space: nowrap;
}
.chatUserChatHistorySearch {
  margin-left: -5px;
  padding-left: 5px;
  padding-right: 5px;
  text-align: center;
  border-bottom: 1px solid lightgray;
}
.chatUserChatHistorySearchBox {
  height: 30px;
  width: 340px;
  margin-top: 0px;
  margin-bottom: 15px;
  padding: 5px;
  border: 2px solid lightgray;
  border-radius: 10px;
  font-family: "Monaco";
  font-size: 18px;
  overflow: wrap;
  resize: none;
}
.clearChatSearch {
  height: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  display: inline-block;
  margin-top: -51px;
  margin-left: 325px;
  border-radius: 50%;
  background-color: #ffcb4c;
}
.clearAccountSearch {
  height: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  display: inline-block;
  margin-top: -51px;
  margin-left: 245px;
  border-radius: 50%;
  background-color: #ffcb4c;
}
.clearChatSearch:hover {
  cursor: pointer;
  background-color: #ffffff;
}
.clearAccountSearch:hover {
  cursor: pointer;
  background-color: #ffffff;
}
.chatUserChatHistorySearchBox:focus {
  outline: none;
}
.userChatHistory{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 12px;
}
.mobileAccountChatPickers {
  width: 100%;
  position: relative;
  margin-bottom: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.accountDatePicker {
  width: 100%;
  max-width: 300px;
  background-color: #FFFFFF;
  padding: 5px;
  border-radius: 5px;
  border: 1px solid #C8C8C8;
}
.accountChatPicker {
  width: 100%;
  max-width: 300px;
  margin-top: 10px;
  background-color: #FFFFFF;
  padding: 5px;
  border-radius: 5px;
  border: 1px solid #C8C8C8;
}
.accountDataPicker {
  width: 100%;
  max-width: 300px;
  background-color: #FFFFFF;
  padding: 5px;
  border-radius: 5px;
  border: 1px solid #C8C8C8;
}
.userChatHistoryDates {
  display:none ;
}
.chatHistorySearch {
  display: none;
}
.chatHistorySearchBox {
  height: 30px;
  width: 270px;
  margin-top: 15px;
  margin-bottom: 15px;
  padding-left: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-right: 10x;
  border: 2px solid lightgray;
  border-radius: 10px;
  font-family: "Monaco";
  font-size: 16px;
  overflow: wrap;
  resize: none;
}

.chatHistorySearchBox:focus {
  outline: none;
}
.userChatHistoryContent {
  width: 100%;
  display: flex;
  flex-direction: column-reverse;
  text-align: left;
  padding: 5px;
  color: #000000;
}
.chatHistoryDay {
  margin-left: 0px;
  padding-right: 10px;
  list-style-type: none;
  text-transform: uppercase;
  color: #000000;
  margin-bottom: 10px;
  font-size: 18px;
  font-weight: bold;
}
.chatHistoryDay:hover {
  cursor: pointer;
}
.chatHistoryTimeTitle {
  margin-top: 5px;
  margin-left: -5px;
  font-size: 15px;
  overflow: hidden;
  text-overflow: ellipsis;
}
.chatHistoryTitle {
  padding-left: 5px;
}
.chatHistoryTitle:hover {
  background-image: linear-gradient(to right, #FFCB4C 100%, transparent 0%);
  background-position-y: 17px;
  background-repeat: repeat-x;
  background-size: 1px 5px;
  cursor: pointer;
}
.chatHistoryTitle.active {
  background-image: linear-gradient(to right, #FFCB4C 100%, transparent 0%);
  background-position-y: 17px;
  background-repeat: repeat-x;
  background-size: 1px 5px;
  cursor: pointer;
  box-shadow: 0px 15px 10px -15px #C8C8C8;
}
.userIntegrations {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
}
.accountSectionHeading {
  width: 100%;
  background-color: #FFCB4C;
  padding: 5px;
  margin: 0px;
  margin-bottom: 10px;
  text-align: center;
}
.userIntegrations h1 {
  width: 100%;
  margin-left: 0px;
  color: #000000;
  text-align: center;
}
.userSubscription {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
}
.userSubscription h1 {
  width: 100%;
  margin-left: 0px;
  color: #000000;
  text-align: center;
}
.userData {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: flex-start;
}
.userDataTypes {
  display: none;
}
.userDataTypes h2 {
  width: 230px;
  padding-top: 10px;
  padding-left: 20px;
  padding-bottom: 10px;
  margin-top: 20px;
  margin-bottom: 0px;
  font-size: 20px;
}
.userDataTypes h2:hover {
  cursor: pointer;
  background-color: #FFCB4C;
}
.userDataTypes h2 img {
  height: 20px;
  margin-right: 15px;
}
.userDataContent {
  display: flex;
  padding: 20px;
  text-align: left;
  flex-wrap: wrap;
  overflow: scroll;
}
.userDataContent h2 {
  margin: 0;
  margin-bottom: 20px;
  text-align: center;
}
.userDataContent p {
  margin-top: 0px;
  margin-bottom: 20px;
}
.userDataContent table {
  border-collapse: collapse;
  width: 100%;
  margin: 0;
  border: 1px solid #C8C8C8;
  background-color: #FFFFFF;
  color: #000000;
  font-family: Arial, Helvetica, sans-serif;
}
.userDataContent th {
  border: 1px solid #C8C8C8;
  background-color: #000000;
  color: #FFFFFF;
  padding: 15px;
}
.userDataContent td {
  border: 1px solid #C8C8C8;
  padding: 10px;
}
.userDataContent td:focus {
  outline-color: #000000;
}
.userDataContent tr:nth-child(even) {
  background-color: #EFEFEF;
}
.userDataContent tr:hover {
  cursor: pointer;
  background-color: #FFCB4C;
}
.noEntityData {
  margin-top: 80px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.entitiesData {
  overflow: scroll;
}
.userDataContent button {
  margin-top: 30px;
  width: 180px;
}
.userSettings {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
}
.userSettings h1 {
  margin: 10px;
  margin-top: 30px;
  color: #000000;
}
.userSettings h2 {
  color: #000000;
}
.userSettings button {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  color: #000000;
  background-color: #FFCB4C;
  border: none;
  padding: 10px;
  margin: 10px;
  margin-top: 30px;
  margin-bottom: 0px;
  transition: all 0.5s ease-in-out;
  border: 5px solid #FFCB4C;
  border-radius: 1rem;
  font-size: large;
  font-family: "Monaco";
  width: 220px;
  box-shadow: 0px 15px 10px -15px #C8C8C8;
}
.emailDelete, .changePassword {
  width: 300px;
  height: 25px;
  border-radius: 10px;
  margin-top: 10px;
  padding: 10px;
  font-family: "Monaco";
  font-size: 16px;
  border-bottom: 2px solid #000000;
  outline: none;
}
#emailDeleteGood {
  width: 25px;
  margin-top: 140px;
  margin-left: 270px;
  position: absolute;
}
.overlay {
  display: none;
}
.overlay.active {
  display: flex;
  justify-content: center;
  padding-top: 50px;
  height: 100%;
  width: 100%;
  margin-left: 0px;
  position: fixed;
  z-index: 5;
  left: 0;
  top: 0;
  background-color: rgba(255,255,255,0.90);
  overflow: hidden;
}
.overlay h2 {
  color: #000000;
}
.overlayContent {
  display: flex;
  z-index: 2;
  flex-direction: column;
  background-color: #C8C8C8;
  border-radius: 25px;
  height: 550px;
  width: 340px;
  border: 5px solid #FFCB4C;
  box-shadow: 0px 15px 10px -15px #C8C8C8;
  font-size: 14px;
}
.overlayTitle {
  padding: 10px;
  border-bottom: 2px solid #000000;
}
.overlayTitle p {
  display: none;
}
.overlayContent {
  margin: 20px;
}
.overlayForm {
  min-height: 320px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
  margin-left: 0px;
  padding-left: 30px;
  padding-right: 30px;
}
.overlayForm h1 {
  margin: 0px;
}
.overlayFormInput{
  display: flex;
  flex-direction: column;
  margin-top: 15px;
  align-items: center;
}
.overlayFormInput p {
  text-align: center;
  margin-bottom: 10px;
}
.overlayFormInput input {
  width: 280px;
  height: 25px;
  border-radius: 10px;
  padding: 10px;
  font-family: "Monaco";
  font-size: 14px;
  border-bottom: 2px solid #000000;
  outline: none;
}
.overlayForm h6 {
  color: red;
  width: 100%;
  margin-top: 3px;
  margin-left: 65px;
  text-align: center;
}
#loadingSpinner {
  margin-top: -500px;
  margin-bottom: 40px;
}
#loadingOverlay {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#emailAccountGood {
  width: 25px;
  margin-top: 0px;
  margin-left: 410px;
  position: absolute;
}
#emailAccountBad {
  width: 25px;
  margin-top: 0px;
  margin-left: 410px;
  position: absolute;
}
.overlayButtons {
  display: flex;
  justify-content: center;
  margin-top: -20px;
}
.overlayCloseButton {
  cursor: pointer;
  color: #000000;
  background-color: #FFFFFF;
  border: none;
  padding: 0.5rem;
  transition: all 0.5s ease-in-out;
  border: 5px solid #FFCB4C;
  border-radius: 50%;
  font-size: large;
  font-family: "Monaco";
  box-shadow: 0px 15px 10px -15px #C8C8C8;
  height: 30px;
  width: 30px;
  margin-top: -25px;
  margin-left: 300px;
  position: absolute;
  z-index: 3;
}
.roadmap {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.roadmap h1 {
    margin: 10px;
}
.roadmapTitle h1 {
  font-size: 22px;
}
.roadmapTitle h2 {
  text-transform: unset;
  font-size: 16px;
  padding: 10px;
  padding-left: 20px;
  padding-right: 20px;
}
.roadmapContainer {
  max-width: 500px;
  margin-left: 20px;
  margin-right: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
}
.roadmapContainer h2 {
    font-size: 22px;
    margin-top: 30px;
    margin-bottom: 20px;
}
.roadmapItem {
  width: 85%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 5px;
  border-radius: 15px;
  background-color: #292929;
  padding: 20px;
}
.roadmapItem-built {
  border: 2px solid #FFCB4C;
}
.roadmapItemRow1 {
  height: 45px;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.roadmapItemRow2 {
  min-height: 65px;
  display: flex;
  flex-grow: 10;
  text-align: left;
  align-items: center;
}
.roadmapItemRow3 {
  min-height: 65px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.roadmapItemTitle {
  margin-right: 0px;
}
.roadmapItemTitle h2 {
  color: #FFFFFF;
  font-size: 20px;
  margin-top: -10px;
}
.roadmapItemTags {
  display: none;
  flex-direction: row;
}
.roadmapItemTag {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30px;
  width: 150px;
  margin-left: 10px;
  margin-right: 10px;
  background-color: #997f30;
  border: 1px solid #FFCB4C;
  border-radius: 20px;
  color: #FFCB4C;
  font-size: 14px;
}
.roadmapItemTag p {
  text-transform: uppercase;
}
.roadmapItemTag img {
  height: 20px;
  margin-left: 10px;
}
.roadmapItemDescription p {
  color: #FFFFFF;
  text-align: center;
  margin-top: -20px;
}
.roadmapItemVote button {
  width: 200px;
  height: 50px;
  margin-top: 20px;
  display: flex;
  align-items: center;
  cursor: pointer;
  color: #000000;
  background-color: #FFCB4C;
  border: none;
  padding: 0.5rem;
  transition: all 0.5s ease-in-out;
  border: 5px solid #FFCB4C;
  border-radius: 10px;
  font-size: large;
  font-family: "Monaco";
  text-transform: uppercase;
  box-shadow: 0px 15px 10px -15px grey;
}
.roadmapItemVote button:hover {
  border: 5px solid #FFCB4C;
  background-color: #FFFFFF;
  cursor: pointer;
}
.roadmapItemVote button img {
  height: 30px;
  margin: 5px;
}
.roadmapItemVote button p {
  margin: 10px;
}
#roadmapItemVotes {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 30px;
  min-width: 30px;
  margin: 10px;
  background-color: #000000;
  border-radius: 50%;
  color: #FFCB4C;
  font-size: 14px;
}
.roadmapItemSubmit {
    margin-top: 30px;
  height: 120px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.roadmapItemSubmit input {
  width: 280px;
  height: 30px;
  border-radius: 10px;
  padding: 5px;
  padding-left: 10px;
  padding-right: 10px;
  font-family: "Monaco";
  font-size: 13px;
  outline: none;
}
.roadmapItemSubmit button {
  width: 120px;
  height: 40px;
  display: flex;
  margin-top: 20px;
  margin-left: 0px;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  color: #000000;
  background-color: #FFCB4C;
  border: none;
  padding: 0.5rem;
  transition: all 0.5s ease-in-out;
  border: 5px solid #FFCB4C;
  border-radius: 10px;
  font-size: large;
  font-family: "Monaco";
  text-transform: uppercase;
  box-shadow: 0px 15px 10px -15px grey;
}
.roadmapItemSubmit button:hover {
  border: 3px solid #FFCB4C;
  background-color: #FFFFFF;
  cursor: pointer;
}
.roadmapMoreButton {
  height: 50px;
  width: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  color: #000000;
  background-color: #FFCB4C;
  padding: 10px;
  margin: 20px;
  transition: all 0.5s ease-in-out;
  border: 5px solid #FFCB4C;
  border-radius: 15px;
  font-size: large;
  font-family: "Monaco";
  box-shadow: 0px 15px 10px -15px #C8C8C8;
}
.roadmapMoreButton:hover {
  background-color: #FFFFFF;
  border: 5px solid #FFCB4C;
}
.roadmapOverlay {
  display: none;
}
.roadmapOverlay.active {
  display: flex;
  justify-content: center;
  padding-top: 100px;
  height: 100%;
  width: 100%;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  background-color: rgba(255,255,255,0.8);
  overflow: hidden;
}
.roadmapOverlayContent {
  display: flex;
  z-index: 2;
  flex-direction: column;
  background-color: #000000;
  border-radius: 25px;
  height: 400px;
  width: 300px;
  padding: 20px;
  border: 5px solid #FFCB4C;
  box-shadow: 0px 15px 10px -15px #C8C8C8;
}
.roadmapOverlayContent h1 {
  margin: 0px;
}
.roadmapOverlayForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
  margin-left: 0px;
}
.roadmapOverlayForm input {
  width: 280px;
  height: 25px;
  border-radius: 10px;
  padding: 10px;
  font-family: "Monaco";
  font-size: 16px;
  border-bottom: 2px solid #000000;
  outline: none;
}
.roadmapOverlayButton {
  height: 45px;
  width: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  color: #000000;
  background-color: #FFCB4C;
  border: none;
  padding: 10px;
  margin: 20px;
  transition: all 0.5s ease-in-out;
  border: 5px solid #FFCB4C;
  border-radius: 10px;
  font-size: large;
  font-family: "Monaco";
  box-shadow: 0px 15px 10px -15px #C8C8C8;
}
.roadmapOverlayCloseButton {
  cursor: pointer;
  color: #000000;
  background-color: #FFFFFF;
  border: none;
  padding: 0.5rem;
  transition: all 0.5s ease-in-out;
  border: 5px solid #FFCB4C;
  border-radius: 50%;
  font-size: large;
  font-family: "Monaco";
  box-shadow: 0px 15px 10px -15px #C8C8C8;
  height: 30px;
  width: 30px;
  margin-top: -50px;
  margin-left: 280px;
  position: absolute;
  z-index: 3;
}
.adminPanel {
  width: 100%;
  height: 1260px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: stretch;
}
.sidePanel {
  min-width: 250px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-top: 10px;
  padding-bottom: 40px;
  background-color: #FFFFFF;
}
.sidePanel h2 {
  width: 100%;
  margin: 0;
  margin-bottom: 30px;
  text-align: center;
}
.sidePanel p {
  width: 180px;
  text-align: start;
  margin-top: 0px;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 40px;
  padding-right: 30px;
}
.sidePanel img {
  width: 16px;
}
.sidePanel p img {
  margin-right: 10px;
}
.sidePanel p:hover {
  cursor: pointer;
  background-color: #FFCB4C;
}
.selected {
  background-color: #FFCB4C;
}
.adminContent {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  text-align: left;
  padding: 40px;
  overflow: scroll;
}
.usersAdmin, .trendingAdmin, .onboardingAdmin, .chatsAdmin, .entitiesAdmin {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: center;
  align-items: center;
}
.usersTopLine {
  display: flex;
  flex-direction: row;
}
.usersBottomLine {
  display: flex;
  flex-direction: row;
}
.displayNumber {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 260px;
  width: 260px;
  padding: 20px;
  margin-right: 40px;
  margin-bottom: 40px;
  border-radius: 15px;
  background-color: #FFFFFF;
}
.displayNumber h1 {
  margin: 0;
  margin-bottom: 20px;
  font-size: 100px;
}
.usersChart {
  width: 1360px;
  display: flex;
  position: relative;
  justify-content: center;
  margin-top: 50px;
  margin-left: -80px;
  margin-bottom: 80px;
}
.roadmapAdmin {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.roadmapAdmin h2 {
  width: 100%;
  text-align: center;
  margin-bottom: 0px;
}
.roadmapSuccess {
  position:absolute;
  display: flex;
  margin-top: 150px;
  margin-left: 37%;
  color: #FFCB4C;
}
.roadmapAdmin table {
  border-collapse: collapse;
  width: 100%;
  margin: auto;
  border: 1px solid #C8C8C8;
  background-color: #FFFFFF;
  color: #000000;
  font-family: Arial, Helvetica, sans-serif;
}
.roadmapAdmin th {
  border: 1px solid #C8C8C8;
  background-color: #000000;
  color: #FFFFFF;
  padding: 15px;
}
.roadmapAdmin td {
  border: 1px solid #C8C8C8;
  padding: 10px;
}
.roadmapAdmin td:focus {
  outline-color: #000000;
}
.roadmapAdmin tr:nth-child(even) {
  background-color: #EFEFEF;
}
.roadmapAdmin tr:hover {
  cursor: pointer;
  background-color: #FFCB4C;
}
.newRoadmapItem, .newFAQItem {
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 50px;
}
.newRoadmapName {
  margin-left: 0px;
  width: 210px;
}
.newRoadmapName input {
  height: 30px;
  width: 90%;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 5px;
  font-family: "Monaco";
  outline: none;
}
.newRoadmapDescription {
  width: 810px;
  margin-left: 20px;
}
.newRoadmapDescription input {
  height: 30px;
  width: 90%;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 5px;
  font-family: "Monaco";
  outline: none;
}
#saveRoadmapButton {
  color: #000000;
  margin-top: 60px;
  margin-left: -30px;
}
.centered {
  text-align: center;
}
.faqsAdmin {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: scroll;
}
.newFAQItem {
  height: 100px;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 50px;
}
.newFAQTitle {
  width: 140px;
  margin-right: 5px;
}
.newFAQTitle input {
  width: 75%;
}
.newFAQQuestion {
  width: 400px;
  margin-right: 5px;
}
.newFAQQuestion input {
  width: 93%;
}
.newFAQAnswer {
  width: 900px;
}
.newFAQItem input {
  height: 30px;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 5px;
  font-family: "Monaco";
  outline: none;
}
.newFAQAnswer input {
  width: 100%;
}
.faqInput {
  display: flex;
}
.newFAQItemSave {
  margin-top: 40px;
  margin-left: 50px;
  display: flex;
  justify-content: center;
}
.faqSuccess {
  position:absolute;
  display: flex;
  margin-top: 175px;
  margin-left: 0%;
  color: #FFCB4C;
}
.faqTableContainer {
  display: flex;
  width: 100%;
  padding: 0px;
  margin: 0px;
  margin-top: 30px;
  overflow: scroll;
}
.faqTableContainer table {
  border-collapse: collapse;
  width: 100%;
  border: 1px solid #C8C8C8;
  background-color: #FFFFFF;
  color: #000000;
  font-family: Arial, Helvetica, sans-serif;
}
#saveFAQButton {
  color: #000000;
  margin-top: 20px;
}
.faqsAdmin th {
  border: 1px solid #C8C8C8;
  background-color: #000000;
  color: #FFFFFF;
  padding: 15px;
}
.faqsAdmin td {
  border: 1px solid #C8C8C8;
  padding: 10px;
}
.checkBox {
  text-align: center;
}
.checkBox input {
  accent-color: #000000;
}
.faqsAdmin td:focus {
  outline-color: #000000;
}
.faqsAdmin tr:nth-child(even) {
  background-color: #EFEFEF;
}
.faqsAdmin tr:hover {
  cursor: pointer;
  background-color: #FFCB4C;
}
.signUpForm iframe {
  border: none;
  height: 580px;
  width: 580px;
}